@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    padding-bottom: 0%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #031930;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-size: 21px;
    color: white;
    text-decoration: none;
    font-weight: 750;
    letter-spacing: 1px;
}
.navbar a{
    font-size: 17px;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}
.navbar a:hover{
    border-bottom: 2px solid #e3f3ab ;
    transition: all .3 ease;
}

    .home-section{
        position: relative;
        width: 100%;
        justify-content: space-between;
        height: 100vh;
        background-image: url("https://storage.googleapis.com/submission--1/background.jpg"); 
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 70px 10% 0;
    }
    .center-text{
        position: absolute;
        color: white;
        font-size: 30px;
        text-align: left; 
        margin-left: 450px;
    }
    .center-text h1{
        color: white;
        margin-bottom: 10px; 
    }
    .center-text p{
        font-size: 20px; 
        font-weight: 400; 
    }
    span{
        color: rgb(244, 248, 28);
    }
    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 37.5%;
        left: 100px;
        z-index: 1;
    }

.portfolio-section{
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
}

.portfolio-text{
    text-align: center;
    color: #031930;  
    padding-top: 100px; 
    margin-bottom: 150px;
}

.portfolio-text h1{
    font-weight: 800;
    font-size: 40px;
    text-decoration: underline; 
}

.portfolio-text p{
    font-size: 20px;
}

.gallery{
    margin-top: 60px;
    margin-left: 300px;
    margin-bottom: 300px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);/* atau 1fr 1fr 1fr */
    gap: 20px;
}

span{
    color: rgb(244, 248, 28);
}